* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d9afd9;
  background-image: linear-gradient(292deg, #d9afd9 0%, #97d9e1 100%);
  padding: 10px;
}
div {
  padding: 10px;
}
h1,
h3{
  display: flex;
  justify-content: center;
}
.h3 {
  color: rgb(46, 34, 34);
}
h2{
  color: rgb(129, 129, 100);
  padding: auto;
  margin-left: 5%;
  margin-right: 5%;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.container {
  margin: 5px 30px 10px 30px;
}
.paper {
  justify-content: center;
}
a:link {
  text-decoration: none;
}
.row {
  /* border:2px solid #000; */
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.item {
  width: 50%;
  text-align: center;
  font-size: large;
  font-weight: bold;
}
.emailStyle {
  padding: 20px;
}
.nameStyle{
  margin-top: 5%;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 text-align: center;
 text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 0.3em rgb(151, 151, 155);
 color: rgb(91, 85, 85);
}
span{
  text-decoration:underline;
  font-size:medium;
  margin-right:5px;
  opacity: 0.8;
}